*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.logo{
	position: relative;
	top: -5px;
}

.menu{
		background: #05B329;
}
.letra{
	font-family: 'Baloo Bhai', cursive;
	color: white;
	letter-spacing: 0.5px;
	text-decoration: none;
	font-size: 1.2em;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 3px;
	height: 100vh;
	width: 100%;

}
.formulario{
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	height: 250px;
	width: 350px;
	border:1px solid black;
	box-shadow: 2px 2px 7px #000;
}
.titulo{
	background: #05B329;
	text-align: center;
	padding: 10px 0;
	font-family: times new roma;
	color: #fff;
}

.campos{
	display: inline-block;
	text-align: center;
	margin: 30px;
}
.full{
	margin: 25px;
	height: 35px;
	width: 250px;
	padding: 10px 3px;
	font-size: 15px;
	border:none;
	border-bottom:1px solid gray;
	outline: none;
}
.envio{
	padding: 20px 5px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-radius: 5px;
}

.Cancelar{
	height: 35px;
	width: 70px;
	background: #C00505;
	color: #fff;
	border-radius: 5px;
	border:none;
	outline: none;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-right: 40px;

}
.enviar{
	position: relative;
	top: 5px;
	height: 35px;
	width: 100px;
	background: #19AF02;
	color: #fff;
	border-radius: 5px;
	border:none;
	outline:none;
	display: inline-block;
	margin-left: 40px;
}
body{
	background-color: #F2F2F2 !important;
}

.texto{
	position: relative;
	font-size: 16px;
}
.usuario_log{
	display: flex;
	align-items: center;
	text-decoration: none;
}
.usuario_log p{
	position: relative;
	top: 6px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin-left: 10px;
	margin-right: 20px;
}

.usuario_log img{
	position: relative;
	top: -2px;
	width: 40px;
	height: 40px;
	position: relative;
	border: 1.5px solid white;
	border-radius: 50%;

}
