*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
<<<<<<< HEAD

.container-img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_contenedor{
	overflow: hidden;
	position: relative;
	top: -20px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 1px solid grey;
}
.img_contenedor img{
	width: 210px;
	height: 210px;
}

=======
>>>>>>> 9019f5ef6dd6faa370230cb428f1840a3b32e772
.contenedortotalform{
	width: 100%;
	height: 100vh;
	background: url(../img/fondoadmin.jpg);
<<<<<<< HEAD
	background-size: cover;
	background-repeat: no-repeat;
=======
>>>>>>> 9019f5ef6dd6faa370230cb428f1840a3b32e772
	display: flex;
	justify-content: center;
	align-items: center;

}
<<<<<<< HEAD


.registro{
	background: #fff;
	border-radius: 30px;
	overflow: hidden;
	width:900px;
	height: 450px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
=======
.registro{
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	width: 600px;
	height: 380px;
>>>>>>> 9019f5ef6dd6faa370230cb428f1840a3b32e772
}
.form-title{
	background: #05B329;
	text-align: center;
	padding: 10px 0;
	font-family: times new roma;
	color: #fff;
	margin-bottom: 10px;
}
.container-formulario-img{
	display: flex;
	align-items: center;

}
.container-formulario-img  .form-content {
	padding-left: 10px;
}
.container-formulario-img .container-img{
	display: flex;
	padding-left: 20px;
	margin: 10px;
	flex-direction: column;
}

.container-formulario-img .container-img img{
	padding-bottom: 10px;
	display: block;
<<<<<<< HEAD
}
.form-content{
	margin: 10px;
}
.form-content input{
	padding: 10px 10px;
	margin:5px;
	outline-color: #05B329;
	font-size: 15px;
	box-shadow: none;
}
.nombre .apellido{
	display: inline-block;
}
input.full{
	width: 98%;
=======
	width: 400px;
}
.form-content input{
	margin: 8px;
	padding: 0 5px;
>>>>>>> 9019f5ef6dd6faa370230cb428f1840a3b32e772
}
.cta-group{
	padding: 20px 5px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}
.Cancelar{
<<<<<<< HEAD
	height: 45px;
	width: 80px;
=======
	height: 35px;
	width: 70px;
>>>>>>> 9019f5ef6dd6faa370230cb428f1840a3b32e772
	background: #C00505;
	color: #fff;
	border-radius: 5px;
	border:none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.cta-group input{
<<<<<<< HEAD
	height: 45px;
	width: 80px;
	background: #05B329;
	color: #fff;
	border-radius: 5px;
	border:none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.Cancelar:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	transform: scale(1.02);
	background-color: #fff;
	color: #000;
	border:1.5px solid #C00505;

}
.cta-group input:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	transform: scale(1.02);
	background-color: #fff;
	color: #000;
	border:1.5px solid #05B329;
}
=======
	height: 35px;
	width: 100px;
	background: #19AF02;
	color: #fff;
	border-radius: 5px;
	border:none;
	outline:none;
}
>>>>>>> 9019f5ef6dd6faa370230cb428f1840a3b32e772
