*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contenedortotalform{
	width: 100%;
	height: 100vh;
	background: url(../img/fondoadmin.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;

}

.registro{
	background: #fff;
	border-radius: 30px;
	overflow: hidden;
	width:400px;
	height:305px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-title{
	background: #05B329;
	text-align: center;
	padding: 10px 0;
	font-family: times new roma;
	color: #fff;
	margin-bottom: 10px;
}
.form-content{
	/* margin: 10px; */
	width: 100%;
	display:flex;
	flex-direction: column;

}
.container-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.form-content input{
	margin: 10px 20px 0 20px;
	padding: 10px 20px;
	width: 100%;
	outline-color: #05B329;
	font-size: 15px;
	box-shadow: none;
}
.cta-group{
	padding: 10px 5px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}
.Cancelar{
	height: 45px;
	width: 90px;
	background: #C00505;
	color: #fff;
	border-radius: 5px;
	border:none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-left: 10px;
}
.cta-group input{
	height: 45px;
	width: 90px;
	background: #05B329;
	color: #fff;
	border-radius: 5px;
	border:none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-right: 10px;
}
.Cancelar:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	transform: scale(1.02);
	background-color: #fff;
	color: #000;
	border:1.5px solid #C00505;

}
.cta-group input:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	transform: scale(1.02);
	background-color: #fff;
	color: #000;
	border:1.5px solid #05B329;
}
