
body:after{
	content:"Hecho por compañia S.S ";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100vw;
	background-color: black;
	color:white;
	text-align: right;
	padding: 5px 30px;
	font-size: 12px;
}


*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #ccc;
}

.content-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #e95420;
	z-index: 100000;
}

.content-header .main-nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;


}

.content-header .main-nav .content-user{
	display: flex;
	align-items: center;
	font-size: 18px;
	color:white;
	text-transform: capitalize;
	padding-left: 20px;
	cursor:none;
}

.content-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;

}

.container-menu{
	position: relative;
	width: 30%;
	padding: 20px;
	display: flex;
}

.todo{
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
}
.caja{
	width: 100%;
	display: flex;
}

.caja p{
	font-size: 16px;
	margin: 2px;

}
.fecha{
	display: flex;
	align-items: center;
	font-family: Oswald,arial;
}
.reloj{
	display: flex;
	font-family: oswald,arial;
	width: 100%;
	border-left: 1px solid white;
	margin: 0 10px;
	padding:0 10px;
}
.reloj .caja-segundos{
}
.reloj .segundos,
.reloj .ampm{
}




.content-menu{
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
	background-color: rgba(233, 84, 32, .9) ;
	list-style: none;
}
.container-menu .icon{
	width: 30px;
	height: 30px;
}
.container-menu .icon:hover{
	cursor:pointer;
}
.container-menu .icon.active + .content-menu {
	height: 112px;
}
.content-menu {
	height: 0;
	overflow: hidden;
	transition: all linear .3s;
}
.content-menu .link{
	display: block;
	padding: 10px;
	color:white;
	text-decoration: none;
	border-bottom: 1px solid white;
}

.content-menu .link:hover{
	background-color:#e95420 ;
}





/**
 *
 * slider
 *
 */

.slider input[name="slider-select-element"] {
    display: none;
}

.slider #slider-arrows {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;


}

.slider #slider-box {
    height: 100%;
    width: 300%;
}

.slider #slider-container {
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.slider .element-uno,
.slider .element-dos,
.slider .element-tres {
	display: flex;
	justify-content: center;
	align-items: center;
    min-height: 100vh;

}

.slider .element-uno {
    background: blue  ;
}

.element-dos {
    background: green  ;
}

.element-tres {
    background: red  ;
}

.slider-element {
    float: left;
    width: 33.333%;
}

#element1:checked ~ #slider-arrows label:nth-child(2),
#element2:checked ~ #slider-arrows label:nth-child(3),
#element3:checked ~ #slider-arrows label:nth-child(1) {
    display: block;
    float: right;

}

#element1:checked ~ #slider-arrows label:nth-child(3),
#element2:checked ~ #slider-arrows label:nth-child(1),
#element3:checked ~ #slider-arrows label:nth-child(2) {
    display: block;
    float: left;

}

#element1:checked ~ #slider-arrows label:nth-child(2):before,
#element2:checked ~ #slider-arrows label:nth-child(3):before,
#element3:checked ~ #slider-arrows label:nth-child(1):before {
    color: black  ;
    content: ">";
       padding: 10px 20px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);

    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-arrows label:nth-child(3):before,
#element2:checked ~ #slider-arrows label:nth-child(1):before,
#element3:checked ~ #slider-arrows label:nth-child(2):before {
    color: white  ;
    content: "<";
    padding: 10px 20px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);

    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-container #slider-box {
    margin-left: 0;
}

#element2:checked ~ #slider-container #slider-box {
    margin-left: -100%;
}

#element3:checked ~ #slider-container #slider-box {
    margin-left: -200%;
}

#slider-arrows label {
    color: transparent;
    cursor: pointer;
    display: none;
    font-size: 2rem;

}

#slider-box {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}





article{
    padding: 20px;
    font-size: 1.2em;
    font-family: helvetica, arial;

}



/* estilos de formulario*/


.container-formulario{
	position: fixed;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;

	z-index: 10000000;

	background-color: rgba(0,0,0,.8);

	display: none;
	justify-content: center;
	align-items: center;
}

.container-formulario.mostrar-formulario{
	display: flex;
}

.container-formulario.mostrar-formulario .mostrar{
	display: block;
}

.form-register,
.form-actualizar{
	background-color: #fff;
	border-radius: 20px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	display: none;
}
.form-title{
	padding: 10px;
}

.form-content{
	padding: 20px;
}

.form-title{
	width: 100%;
	background-color: #E95420;
	text-align: center;
}

.form-title h1{
	color:white;
	padding: 10px;
}
.form-content{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-content .input-group{
	width: 100%;
	text-align: center;

}
.form-content input{
	padding: 10px 10px;
	margin:5px;
	outline-color: #E95420;
	font-size: 15px;
	box-shadow: none;
}

input.full{
	width: 98%;

}
.input-group.select{
	position: relative;
	margin: 10px 0 20px;

}

.input-group.select select{
	width: 50%;
	padding: 10px;
	border:none;
	outline: none;
	cursor:pointer;
	/*background-color: hsla(16,83%, 50%, .5);*/
}
.input-group.select label::before{
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	border-radius: 50px;
	background-color:#e95420 ;
	transition: all linear .3s;
}

.input-group.select:hover label::before{
	width: 400%;
}

.input-group label{
	padding: 10px;
	color:white;
	background-color: #e95420;
	margin: 0;
	position: relative;
}

.cta-group{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.cta-group input{
	padding: 15px;
	border-radius: 10px;
	border:none;
	color:white;
	cursor:pointer;
	transition:  all linear .3s;
	outline: 0;
	margin: 5px 10px;

}

.cta-group input:hover{
	transform: scale(1.1);
	box-shadow: 2px 2px 10px rgba(0,0,0,.5)
}

.cta-group input:active{
	transform: none;
	box-shadow:none;
}
.cta-group input[type="submit"]{
	background-color: #24da1b;

}
.cta-group input[type="reset"]{
	background-color: #da1b1b;
}

 .container-formulario-img{
	display: flex;
	align-items: center;

}
.container-formulario-img  .form-content {
	padding-left: 10px;
}
.container-formulario-img .container-img{
	display: flex;
	padding-left: 20px;
	margin: 10px;
	flex-direction: column;
}

.container-formulario-img .container-img img{
	padding-bottom: 10px;
	display: block;
	width: 400px;
}
